.header {
	height: 600px;
	width: 100%;
	background: black;
	overflow: hidden;
	background: -webkit-linear-gradient(to left, rgba(116, 58, 213, 0.7), rgba(213, 58, 157, 0.7)), 
  url("../../Images/DesktopTopBG.png");
	background: linear-gradient(to left, rgba(116, 58, 213, 0.7), rgba(213, 58, 157, 0.7)), 
  url("../../Images/DesktopTopBG.png");
}
img {
	object-fit: cover;
}
.TextCenter {
	text-align: center;
}
.HeaderIcon {
	img {
		filter: brightness(0) invert(1);
		height: 30px;
		width: 30px;
	}
}
.LiveIcon {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-bottom: 0.9rem;
	padding-top: 0.5rem;
	border-radius: 50rem;
	background-color: #28a745;
	font-weight: bold;
}
.FloatLeft {
	float: left;
}
.FloatRight {
	float: right;
}
.TeamSection {
	margin-top: 3rem;
}
.VSSection {
	border-radius: 50%;
	background-color: lightgrey;
	opacity: 0.5;
	padding: 0.5rem;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	span {
		font-weight: bold;
	}
}
.TeamLogo {
	background-color: white;
	padding: 1rem;
	border-radius: 50%;
	border: 4px solid red;
	img {
		height: 70px;
		width: 70px;
	}
}
.TeamLogoRight {
	border: 4px solid #fff;
}
.MatchScoreLeft {
	text-align: left;
	margin-left: 1rem;
}
.borderMatchScrore {
	border-bottom: 2px solid lightgrey;
	opacity: 0.2;
	margin: 0;
	padding: 0;
}
.MatchScoreRight {
	text-align: right;
	margin-right: 1rem;
}
.MatchScore {
	margin-bottom: 0;
}
.MatchOver {
	font-size: 15px;
}
.border {
	width: 55rem;
	opacity: 0.2;
}
.PlayersName {
	display: flex;
	&:first-of-type {
		color: #343a40;
		padding: 0.5rem;
		border-radius: 0.25rem;
		background-color: #fff;
	}
	span {
		&:first-of-type {
			font-size: 20px;
			font-weight: bold;
		}
	}
}
.run {
	color: #E50693;
	font-size: 20px;
}
.SeeMore {
	color: #E50693;
	text-decoration: underline;
	font-weight: 700;
}
.overlay-title {
	position: absolute;
	border-radius: 0.5rem;
	bottom: 0;
	padding: 2em;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgb(96 0 255 / 80%), rgba(0, 0, 0, 0));
	background-size: 100% 50%;
	background-position: 0 100%;
	background-repeat: no-repeat;
}
.image_wrapper {
	position: relative;
	& > img {
		display: block;
		object-fit: cover;
		width: 100%;
		height: auto;
	}
}
.cardImg {
	position: relative;
	color: white;
	height: auto;
	width: 100%;
	border-radius: 0.50rem;
	& > img {
		width: 100%;
		height: auto;
		border-radius: 0.5rem;
	}
}
.bottomContent {
	position: absolute;
	bottom: 30px;
	left: 16px;
}
.bottom-left {
	position: absolute;
	bottom: 8px;
	left: 16px;
}
.twoCardNews {
	float: left;
	color: #fff;
}
.bottom-right {
	position: absolute;
	bottom: 8px;
	right: 16px;
}
.twoCardShareIcon {
	img {
		filter: brightness(0) invert(1);
	}
}
.cardBodyLeft {
	position: absolute;
	height: auto;
	width: 100%;
	border-radius: 0.50rem;
}
.cardBody {
	background-color: #f8f9fa;
	border-bottom-right-radius: 0.50rem;
	border-bottom-left-radius: 0.50rem;
	div {
		padding: 1rem!important;
	}
}
.cardTextTruncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cardNews {
	float: left;
	color: grey;
}
.cardShareIcon {
	float: right;
}
.borderBottom {
	border-style: solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
	margin: 0 10% 0 10%;
}
